<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<style>
  .w3-lobster {
    font-family: "Lobster", cursive;
  }
  .w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.w3-tangerine {
  font-family: "Tangerine", cursive;
}

.section-heading {
  font-size: 3em;
  
  margin: 50px 100px 25px 100px;
  line-height: 200%;
}
.section-paragraph{
  font-size: 1.5em;
  
  margin: 0px 100px 100px 100px;
  line-height: 200%;
}
.section-card{
  font-size: 1.5em;
  
  margin: 100px 50px 100px 50px;
  line-height: 200%;
  
}
header {
  
  background-image: url("../static/Images/toronto.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin:auto;
  height: 900px;
  background-attachment: fixed;
}
#torontoImg{
  background-image: url("../static/Images/toronto2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin:auto;
  height: 900px;
  background-attachment: fixed;

}
  </style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>Team Awesome</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="../static/html/map.html" class="w3-bar-item w3-button w3-hide-small">Rentals</a>
      <a href="../static/html/pricePredict.html" class="w3-bar-item w3-button w3-hide-small">Fair Price</a>
      <a href="../static/html/insights.html" class="w3-bar-item w3-button w3-hide-small">Trends</a>
      <a href="../static/html/team.html" class="w3-bar-item w3-button w3-hide-small">Team</a>
    </div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
    
    <div id="demo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="../static/html/map.html" class="w3-bar-item w3-button">Rentals</a>
      <a href="../static/html/map.html" class="w3-bar-item w3-button">Fair Price</a>
      <a href="../static/html/insights.html" class="w3-bar-item w3-button">Trends</a>
      <a href="../static/html/team.html" class="w3-bar-item w3-button">Team</a>
    </div>
  </div>
</div>
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <!--<img class="w3-image" src="images/toronto.jpg" alt="Architecture" width="1500" height="800">-->
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min w3-xxxlarge "><b>Toronto Rental Insights</b></span> <!--<span class="w3-hide-small w3-text-light-grey">Architects</span>--></h1>
    <p class="w3-padding w3-black w3-opacity-min w3-text-white">Finding the perfect place in the perfect Neighbourhood</p>
  </div>
  
</header>


<!-- Page content -->
<div class="w3-display-container w3-content w3-wide page-content" style="max-width:1500px;">
    

  <!-- About Section -->
  <div class="w3-container w3-panel w3-text-deep-orange w3-sand" id="about" >
    <h3 class=" w3-center section-heading " >About</h3>
    <p class="section-paragraph">This Application aims to provide users with a one stop solution for all of their rental information needs. There are over 100,000 new people moving into Toronto every year. Most of them move for work and are new immigrants. Our application not only provides the latest available rentals but also the safety of the neighbourhood and its accessibility to services such as schools and hospitals. 
      This information can be critical for anyone who needs to make a quick decisions. We have also incorporated Machine Learning to Analyze the latest rental trends and give you the most up to date fair market rental price.  

    </p>
    
  </div>
  
  <div id="torontoImg"></div>
  <div class="w3-container w3-panel w3-light-blue" id="Vision" >
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center section-heading">Vision</h3>
    <div class="w3-row-padding section-card">
      <div class="w3-col l4  w3-margin-bottom">
        <div class="w3-card-4 w3-sand">
          <img src="../static/Images/solution.jpg" alt="rental" style="height: 100%; width: 100%; padding: 15px;">
          <div class="w3-container w3-center">
            <p>One stop solution</p>
          </div>
        </div>
      </div>
      <div class="w3-col l4 w3-margin-bottom ">
        <div class="w3-card-4 w3-sand">
          <img src="../static/Images/happyRenter.jpg" alt="rental" style="height: 100%; width: 100%; padding: 15px;">
          <div class="w3-container w3-center">
            <p>Happy Renters</p>
          </div>
        </div>
      </div>
      <div class="w3-col l4 w3-margin-bottom ">
        <div class="w3-card-4 w3-sand">
          <img src="../static/Images/3659193.jpg" alt="rental" style="height: 100%; width: 100%; padding: 15px;">
          <div class="w3-container w3-center">
            <p>Happy Landlords</p>
          </div>
        </div>
      </div>
      
      

    </div>
  </div>
  <div class="w3-container " id="Features" style="background-color: #ff000080;">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center section-heading w3-text-white">App Features</h3>
    <div class="w3-row-padding section-card">
      <div class="w3-col l4 w3-margin-bottom ">
        <div class="w3-card-4 w3-sand">
          <img src="../static/Images/rental2.jpg" alt="rental" style="height: 100%; width: 100%; padding: 15px;">
          <div class="w3-container w3-center">
            <p>Available Rentals</p>
          </div>
        </div>
      </div>
      <div class="w3-col l4 w3-margin-bottom ">
        <div class="w3-card-4 w3-sand">
          <img src="../static/Images/3659193.jpg" alt="rental" style="height: 100%; width: 100%; padding: 15px;">
          <div class="w3-container w3-center">
            <p>Current Market Pricing</p>
          </div>
        </div>
      </div>
      <div class="w3-col l4 w3-margin-bottom ">
        <div class="w3-card-4 w3-sand">
          <img src="../static/Images/community.jpg" alt="rental" style="height: 100%; width: 100%; padding: 15px;">
          <div class="w3-container w3-center">
            <p>Neighbourhood Analysis</p>
          </div>
        </div>
      </div>
      
      

    </div>
    
   
    
  </div>
  <div class="w3-container w3-panel w3-light-blue" id="Architecture" >
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center section-heading">Architecture</h3>
    <div class="w3-row-padding section-card">
      
      
      

    </div>
  </div>
  
  <div class="w3-container w3-panel w3-light-blue" id="futureWork" >
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center section-heading">Future Work</h3>
    <div class="w3-row-padding section-card">
      <div class="w3-col l4  w3-margin-bottom">
        <div class="w3-card-4 w3-sand">
          <img src="../static/Images/3659193.jpg" alt="rental" style="height: 100%; width: 100%; padding: 15px;">
          <div class="w3-container w3-center">
            <p>Higher model accuracy</p>
          </div>
        </div>
      </div>
      <div class="w3-col l4 w3-margin-bottom ">
        <div class="w3-card-4 w3-sand">
          <img src="../static/Images/3659193.jpg" alt="rental" style="height: 100%; width: 100%; padding: 15px;">
          <div class="w3-container w3-center">
            <p>Recommendation System</p>
          </div>
        </div>
      </div>
      <div class="w3-col l4 w3-margin-bottom ">
        <div class="w3-card-4 w3-sand">
          <img src="../static/Images/3659193.jpg" alt="rental" style="height: 100%; width: 100%; padding: 15px;">
          <div class="w3-container w3-center">
            <p>Key word Searching</p>
          </div>
        </div>
      </div>
      
      

    </div>
  </div>
</div>
 
<!-- Image of location/map -->
<!--<div class="w3-container">
  <img src="https://www.w3schools.com/w3images/map.jpg" class="w3-image" style="width:100%">
</div>


</div>-->


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <a href='https://www.freepik.com/vectors/abstract'>Abstract vector created by pch.vector - www.freepik.com</a>
  <a href='https://www.freepik.com/vectors/business'>Business vector created by macrovector - www.freepik.com</a>
</footer>
<script>
  function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>

</body>
</html>