

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Padding bottom by footer height */
  padding-bottom: 25px;
}

.navbar{
  width:100%;
  background-color:rgb(75, 70, 77);
  padding:5px
}

.navbar-brand{
  font-family: Arial;
  font-size: 20px;
  color: white;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}