

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Padding bottom by footer height */
  padding-bottom: 25px;
}



h4{
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
}

h2{
  color: rgb(39, 71, 177);
  font-weight: bold;
  font-size: 30px;
}

.infobox{
  margin: 20px;
  padding-left: 50px;
  font-family: sans-serif;
}

.info{
  background-color: rgb(66, 58, 58);
}

.graphTitle{
  color: rgb(39, 71, 177);
  font-weight: bold;
  font-size: 30px;
}